{% extends "partials/layout.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block main-content %}
    {% include "dashboard/partials/nav.html" %}
    
    <section class="w-[100%] h-screen bg-slate-300 fixed z-[1] top-0 right-0 left-0 overflow-y-auto mt-[0px] pt-[80px]">
        <div class="mr-[0.3rem] ml-[0.3rem] md:ml-[260px] transition-all duration-300 bg-white border border-slate-600 border-opacity-20 rounded-[15px] p-4 mt-[20px]">
            <div>
                <h1 class="text-2xl font-bold text-gray-800">Guests for {{ hotel.name }}</h1>
                <h1 class="text-slate-600">Guests Acquired ( {{ guests.paginator.count }} )</h1>
            </div>
            <div class="rounded-[15px] bg-gray-100 p-4 mt-[1rem] shadow-sm">
                <div class="overflow-x-auto">
                    <table class="w-full min-w-[600px]">
                        <thead class="">
                            <tr class="text-left text-slate-500 border-b border-slate-300 whitespace-nowrap">
                                <th class="px-4 py-3 font-semibold text-sm">Reference ID</th>
                                <th class="px-4 py-3 font-semibold text-sm">Customer Name</th>
                                <th class="px-4 py-3 font-semibold text-sm">Room #</th>
                                <th class="px-4 py-3 font-semibold text-sm">Room-Type</th>
                                <th class="px-4 py-3 font-semibold text-sm">Check-Out</th>
                                <th class="px-4 py-3 font-semibold text-sm">Total Price</th>
                                <th class="px-4 py-3 font-semibold text-sm">Status</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-slate-300">
                            {% for booking in guests %}
                            <tr class="hover:bg-gray-200 rounded-[15px] transition-colors whitespace-nowrap">
                                <td class="px-4 py-3 text-slate-600 text-sm">
                                    {{ booking.paystack_reference }} 
                                </td>
                                <td class="px-4 py-3 text-slate-600 text-sm">
                                    {% if booking.guest %}
                                        {{ booking.guest.get_full_name }} 
                                    {% else %}
                                        Guest information not available
                                    {% endif %}
                                </td>
                                <td class="px-4 py-3 text-slate-600 text-sm capitalize">
                                    {% if booking.room %}
                                        {{ booking.room.room_number }}
                                    {% else %}
                                        Room not assigned
                                    {% endif %}
                                </td>
                                <td class="px-4 py-3 text-slate-600 text-sm capitalize">
                                    {% if booking.room %}
                                        {{ booking.room.get_room_type_display }} {{ booking.room.get_bed_type_display }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="px-4 py-3 text-slate-600 text-sm"> {{ booking.check_out_date }}</td>
                                <td class="px-4 py-3 text-slate-600 text-sm">{{ booking.total_price }}</td>
                                {% if booking.is_paid %}
                                <td class="px-4 py-3 text-green-600 text-sm">PAID</td>
                                {% else %}
                                <td class="px-4 py-3 text-red-600 text-sm">UNPAID</td>
                                {% endif %}
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="px-4 py-6 text-center text-slate-400">
                                    No guests found.
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if guests.paginator.num_pages > 1 %}
                <div class="flex justify-center items-center gap-8 mt-[1rem]">
                    {% if guests.has_previous %}
                        <a href="?page={{ guests.previous_page_number }}" class="rounded-md border border-slate-300 p-2.5 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                            <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                        </svg>
                        </a>
                    {% else %}
                        <button disabled class="rounded-md border border-slate-300 p-2.5 text-center text-sm transition-all shadow-sm text-slate-300 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                            <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                        </svg>
                        </button>
                    {% endif %}
                
                    <p class="text-slate-400">
                    Page <strong class="text-slate-400">{{ guests.number }}</strong> of <strong class="text-slate-400">{{ guests.paginator.num_pages }}</strong>
                    </p>
                    
                    {% if guests.has_next %}
                        <a href="?page={{ guests.next_page_number }}" class="rounded-md border border-slate-300 p-2.5 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                        </a>
                    {% else %}
                        <button disabled class="rounded-md border border-slate-300 p-2.5 text-center text-sm transition-all shadow-sm text-slate-300 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                        </button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
   
{% endblock %}