venv/
# .env*
# .env

# Ignore virtual environment directories
*.pyc
*.pyo
*.pyd
*.db

.venv/
.qodo
media/
theme/
db.sqlite3
staticfiles
# Ignore Python cache files
__pycache__/
# Ignore Django migrations