{% extends "partials/layout.html" %}
{% load static %}
{% block main-content %}
    <section>
        <div class="__form_container">
            <form action="" method='post' class='account-form'>
                <div class="">
                    <h1 class="login-h1-text">Sign-Up</h1>
                </div>
                {% csrf_token %}
                
                <div class="input-field">
                    <label for="id_username" class="">Username</label>
                    {{ form.username }}
                    <small class='errorMess'>{{ form.username.errors }}</small>
                </div>  
                <div class="input-field">
                    <label for="id_email" class="">Email</label>
                    {{ form.email }}
                    <small class='errorMess'>{{ form.email.errors }}</small>
                </div>  
                <div class="input-field">
                    <label for="id_password1" class="">Passowrd</label>
                    {{ form.password1 }} 
                    <small class='errorMess'>{{ form.password1.errors }}</small>
                </div>  
                <div class="input-field">
                    <label for="id_password2" class="">Confirm Passowrd</label>
                    {{ form.password2 }}
                    <small class='errorMess'>{{ form.password2.errors }}</small>
                </div> 
                <div class="form-btn">
                    <button type="submit" class="f_btn">Sign Up</button>
                </div>
                <p class="create_account">Already have an account? <a href="{% url "login" %}" class="">Sign In</a></p>
            </form>
        </div>
    </section>
{% endblock  %}