{% extends "partials/layout.html" %}
{% load static %}
{% block title %}Hotels{% endblock title %}
{% block main-content %}
    {% include "partials/nav.html" %}
    <section class="w-[100%] md:w-[80%] m-auto ">
        <div class="search_wrapper">
            <div class="img_container after:rounded-[15px]">
                <img src="{% static "image/assets/dinner1.jpg" %}" alt="" class="img_image rounded-[15px]">
            </div>
            <form action="" class="search_form " method="get">
                <h2 class="h2_form_search">
                  <i class="fa-solid fa-hotel"></i>
                  Search for a suitable hotel
                </h2>
                <div class="form_search_container">
                    <div class="search_input">
                        <i class="fa-regular fa-user "></i>
                        <input type="search" name="search" class="bg-transparent border-none" placeholder="Hotel name" value="{{ name_query }}">
                    </div>
                    <div class="search_input">
                        <i class="fa-solid fa-location-dot"></i>
                        <input type="search" name="loc-search" class="bg-transparent border-none" placeholder="Location" value="{{ location_query }}">
                    </div>
                </div>
                <button type="submit" class="search_btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Search
                </button>
                {% if name_query or location_query %}
                <a href="{% url 'room' %}" class="text-sm text-slate-50  hover:text-red-500 mt-2 flex gap-[0.5rem] justify-center items-center">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.57001 3H21.43L14.5 12.817V21H9.50001V12.817L2.57001 3ZM6.43001 5L11.5 12.183V19H12.5V12.183L17.57 5H6.43001ZM17.88 13.465L20 15.586L22.122 13.465L23.536 14.879L21.415 17L23.536 19.122L22.122 20.536L20 18.414L17.88 20.536L16.465 19.121L18.586 17.001L16.465 14.879L17.88 13.465Z" fill="currentColor"/>
                    </svg>
                    Clear filters
                </a>
                {% endif %}
            </form>
        </div>
        <div class="rounded-[15px] p-4 mt-[1rem] shadow">
            {% if name_query or location_query %}
              <p class="mb-4 text-sm text-gray-600">
                  Showing results for:
                  {% if name_query %}<span class="font-medium">"{{ name_query }}"</span>{% endif %}
                  {% if location_query %}<span class="font-medium"> in "{{ location_query }}"</span>{% endif %}
              </p>
            {% endif %}
            <div class="overflow-x-auto">
                <table class="w-full min-w-[600px]">
                    <thead class="">
                        <tr class="text-left text-slate-500 border-b border-slate-200 ">
                            <th class="px-4 py-3 font-semibold text-sm">Hotel Name</th>
                            <th class="px-4 py-3 font-semibold text-sm">Location</th>
                            <th class="px-4 py-3 font-semibold text-sm">Contact</th>
                            <th class="px-4 py-3 font-semibold text-sm text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-slate-200">
                        {% for hotel in hotels %}
                        <tr class="hover:bg-slate-100 rounded-[15px] transition-colors">
                            <td class="px-4 py-3 text-slate-500 text-sm">
                                <div class="flex items-center gap-2">
                                    {% if hotel.logo %}
                                        <img src="{{hotel.logo.url}}" alt="" class="w-8 h-8 rounded-full object-cover">
                                        {% else %}
                                        <img src="{% static "image/assets/default.png" %}" alt="" class="w-8 h-8 rounded-full object-cover">
                                    {% endif %}
                                    {{hotel.name}}
                                </div>
                            </td>
                            <td class="px-4 py-3 text-slate-500 text-sm"> {{hotel.location}}</td>
                            <td class="px-4 py-3 text-slate-500 text-sm">{{hotel.phone_number}} </td>
                            <td class="px-4 py-3 text-slate-600 text-sm text-right">
                                <p onclick="openHotelBtn()" class=" text-red-700 cursor-pointer  transition font-semibold duration-200 text-sm" aria-label="edit">
                                    <i class="fa-solid fa-eye text-[10px]"></i>
                                    View
                                </p>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="px-4 py-6 text-center text-slate-400">
                                No hotels found.
                            </td>
                        </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if hotels.paginator.num_pages > 1 %}
        <div class="flex justify-center items-center gap-8 my-[1rem]">
            {% if hotels.has_previous %}
                <a href="?page={{ hotels.previous_page_number }}{% if name_query %}&search={{ name_query }}{% endif %}{% if location_query %}&loc-search={{ location_query }}{% endif %}" class="rounded-md border border-slate-300 p-2.5 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                  </svg>
                </a>
            {% else %}
                <button disabled class="rounded-md border border-slate-300 p-2.5 text-center text-sm transition-all shadow-sm text-slate-300 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                  </svg>
                </button>
            {% endif %}
           
            <p class="text-slate-400">
              Page <strong class="text-slate-400">{{ hotels.number }}</strong> of <strong class="text-slate-400">{{ hotels.paginator.num_pages }}</strong>
            </p>
            
            {% if hotels.has_next %}
                <a href="?page={{ hotels.next_page_number }}{% if name_query %}&search={{ name_query }}{% endif %}{% if location_query %}&loc-search={{ location_query }}{% endif %}" class="rounded-md border border-slate-300 p-2.5 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                  </svg>
                </a>
            {% else %}
                <button disabled class="rounded-md border border-slate-300 p-2.5 text-center text-sm transition-all shadow-sm text-slate-300 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                  </svg>
                </button>
            {% endif %}
        </div>
        {% endif %}
    </section>
  {% endblock %}
    