{% load static %}
<nav>
  <div class="__navbar">
      <div class="logo">
          <a href="{% url "home" %}" class="flex items-center">
            <img src="{% static 'image/assets/hotel_48dp_FILL0_wght400_GRAD0_opsz48.png' %}" class="hotel" alt="">
            <h1 class="logoText">Es-Lead</h1>
          </a>
        </div>
      <div class="list_t">
        <ul class="nav_v no-search" id="nav-links">
          <li class="color-active">
            <a href="{% url "home" %}" class="navv-link">
              <i class="fa-solid fa-house-chimney"></i>
            Home
            </a>
          </li>
          <li>
            <a href="{% url "about" %}" class="navv-link">
              <i class="fa-solid fa-hotel"></i>
              About
            </a>
          </li>
          <li>
            <a href="{% url "hotel" %}" class="navv-link">
              <i class="fa-solid fa-images"></i>
            Hotel
          </a>
          </li>
          <li>
            <a href="{% url "booking" %}" class="navv-link">
              <i class="fa-regular fa-calendar-check"></i>
              Booking
            </a>
          </li>
          <li>
            <a href="{% url "contact" %}" class="navv-link">
              <i class="fa-regular fa-address-book"></i>
              Contact
            </a>
          </li>
        </ul>
      </div>     
      
     <div class="flex items-center gap-[2rem]">
      {% if user.is_authenticated %}
      <div class="user_wrapper">        
        <div onclick="profBtn()" class="flex items-center cursor-pointer">
          <img class="w-[30px] h-[30px] rounded-[50%] object-cover object-center mr-[10px]" src=" {{ user.profilemodel.profile.url }} " alt="profile.img">
          <p class="text-[#fff]">Hello! @{{ user.profilemodel.user }}</p>
        </div>
      </div>
      {% else %}
      <div class="account">
        <a href="{% url "sign-up" %}" class="flex items-center gap-1 text-[#fff] hover:bg-orange-500 transition duration-200 px-[1rem] py-[0.5rem] rounded-full">
          <i id="signIn" class="fa-regular fa-user "></i>
          Sign Up
        </a>
      </div>
      {% endif %}
      
      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
     </div>
  </div>
</nav>



<!-- Modal -->
<div onclick="closeBtn()" id="leadWrapper" class="fixed bg-gray-500 bg-opacity-70 top-0 right-0 w-full h-screen transition-all duration-300 ease-out opacity-0 invisible z-[9999]">
  <div id="leadModalContent" class="absolute top-[50%] left-[50%] md:w-[80%] w-[95%]  translate-x-[-50%] translate-y-[-50%] transform transition-all duration-300 ease-out scale-95 opacity-0">
    <div class="bg-white rounded-lg shadow-xl overflow-hidden p-4">
      <p onclick="closeBtn()" class="close-btn flex justify-end cursor-pointer">
        <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 1C4.1 1 1 4.1 1 8C1 11.9 4.1 15 8 15C11.9 15 15 11.9 15 8C15 4.1 11.9 1 8 1ZM10.7 11.5L8 8.8L5.3 11.5L4.5 10.7L7.2 8L4.5 5.3L5.3 4.5L8 7.2L10.7 4.5L11.5 5.3L8.8 8L11.5 10.7L10.7 11.5Z" fill="#3b5362"/>
        </svg>
      </p>
      <div class="">
          <div class="flex items-center gap-[1.5rem]">
            <div class="">
              <img class="w-[50px] h-[50px] rounded-[50%] border border-amber object-cover object-center mr-[10px]" src=" {{ user.profilemodel.profile.url }} " alt="profile.img">
            </div>
            <div class="">
                <h2 class="text-[1.4rem] font-bold">{{ user.profilemodel.full_name }}</h2>
                <small class='text-[0.8rem] text-[#555555]'>Genius Level 1</small>
            </div>
          </div>
          <div class="mt-[2rem]">
              <div class="i_icons">
                  <a href="{% url "profile" %}" class="flex items-center gap-[2rem] p-[1rem] hover:bg-[#ebebeb]">
                    <i class="fa-regular fa-user p_user"></i>
                    <p class="">Manage account</p>
                  </a>
              </div>
              <div class="i_icons">
                  <a href="" class='flex gap-[2rem] items-center p-[1rem] hover:bg-[#ebebeb]'>
                    <i class="fa-solid fa-briefcase"></i>
                    <p class="">Bookings & Tips</p>
                  </a>
              </div>
              <div class="i_icons">
                  <a href="" class='flex gap-[2rem] items-center p-[1rem] hover:bg-[#ebebeb]'>
                    <i class="fa-solid fa-user-pen"></i>
                    <p class="">Reviews</p>
                  </a>
              </div>
              <div class="i_icons">
                  <a href="" class='flex gap-[2rem] items-center p-[1rem] hover:bg-[#ebebeb]'>
                    <i class="fa-regular fa-heart"></i>
                    <p class="">Saved</p>
                  </a>
              </div>
              <div class="i_icons">
                  <a href="{% url "logout" %}" class='flex gap-[2rem] items-center p-[1rem] hover:bg-[#ebebeb]'>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <p class="">Sign out</p>
                  </a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<script>
    const wrapper = document.getElementById('leadWrapper');
    const content = document.getElementById('leadModalContent');
    // Open modal
    function profBtn(){
        wrapper.classList.remove('opacity-0', 'invisible');
        content.classList.remove('opacity-0', 'scale-95');
    }
    // Close modal when clicking anywhere on wrapper
    function closeBtn(){
        wrapper.classList.add('opacity-0', 'invisible');
        content.classList.add('opacity-0', 'scale-95');
    }
      // Prevent clicks on content from closing modal
      content.addEventListener('click', (e) => {
        e.stopPropagation();
    });
</script>
